asgiref==3.2.10
blinker==1.4
dj-database-url==0.5.0
Django==3.0
django-heroku==0.3.1
docutils==0.16
feedgenerator==1.9.1
future==0.18.2
gunicorn==20.0.4
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.19.1
pandas==1.1.1
pelican==4.5.0
Pillow==7.2.0
psycopg2==2.8.5
Pygments==2.6.1
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
http://download.pytorch.org/whl/cpu/torch-0.4.1-cp36-cp36m-linux_x86_64.whl
torchvision==0.7.0
Unidecode==1.1.1
whitenoise==5.2.0
