{% extends 'base.html' %}
{% block content %}

  <div>
    <h4 id="label" class="mt-4 mb-5 border-bottom" style="color: rgb(2, 127, 230);">ゲリラ豪雨予想：{{ animal_info.animal_name }}</h4>
    <table class='table'>
      <thead>
        <tr>
          <th>項目</th>
          <th>結果</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ゲリラ豪雨予想</td>
          <td><h4 id="label">{% if y_arg == 0%}安全{% else %}ゲリラ豪雨注意{% endif %}</h4></td>
        </tr>
        <tr>
        <tr>
          <td>画像ファイル</td>
          <td><img src={{ img_url }} id="prob_img" alt="画像が見つかりませんでした。"></img></td>
        </tr>
        <tr>
          <td>信頼度</td>
          <td><h4 id="proba">{{ y_proba }} %</h4></td>
        </tr>
        <tr>
          <td>注意点</td>
          <td>{{ animal_info.animal_title }} </td>
        </tr>
        <tr>
          <td>詳細</td>
          <td>{{ animal_info.animal_disc }} </td>
        </tr>
      </tbody>
    </table>
    <a href="{% url 'classify' %}" class="btn btn-success" style=margin-top:30px;>画像選択メニューに戻る</a>
  </div>
{{ y_arg }}
{% endblock %}